<div class="object-bin">
  {{#draggable-object-target content=model}}
    <div class="object-bin-title">{{name}}</div>
    <br>

    {{#each obj in model}}

      {{#draggable-object content=obj parent=model}}
        {{#with obj}}
          {{yield}}
        {{/with}}
      {{/draggable-object}}
    {{/each}}
  {{/draggable-object-target}}
</div>