{{#draggable-object-target content=model}}
  {{name}}
  <br>

  {{#each obj in model}}
    {{#draggable-object content=obj parent=model}}
      <span class="title">
        {{obj.title}}
      </span>
      <span class="author">
        By {{obj.author}}
      </span>
      <br>
    {{/draggable-object}}
  {{/each}}
{{/draggable-object-target}}