<div class="object-bin">
  {{#draggable-object-target action="handleObjectDropped"}}
    <div class="object-bin-title">{{name}}</div>
    <br>

    {{#each obj in model}}
      {{#draggable-object content=obj}}
        {{#with obj}}
          {{yield}}
        {{/with}}
      {{/draggable-object}}
    {{/each}}
  {{/draggable-object-target}}
</div>