{{#draggable-object-target content=model}}
  <h4>{{name}}</h4>
  <br>

  {{#each obj in model}}

    {{#draggable-object content=obj parent=model}}
      {{#with obj}}
        {{yield}}
      {{/with}}
    {{/draggable-object}}
  {{/each}}
{{/draggable-object-target}}