html, body {
  margin: 20px;
}

#main {
  max-width: 1000px;
}

.author {
  font-size: 70%;
}

#posts {
  width: 600px;
  float: left;
}

#bin {
  width: 200px;
  float: left;
  margin-left: 30px;
}

.title {
  font-size: 125%;
}