<h2>Cards</h2>

{{#object-bin model=this name="All"}}
  {{partial "card"}}
{{/object-bin}}

<br>

{{#object-bin name="Unranked" model=unrankedCards}}
  {{partial "card"}}
{{/object-bin}}

{{#object-bin name="Good" model=goodCards}}
  {{partial "card"}}
{{/object-bin}}

{{#object-bin name="Bad" model=badCards}}
  {{partial "card"}}
{{/object-bin}}