<div id="posts">
  {{#object-bin name="All" model=this}}
    {{partial "post"}}
  {{/object-bin}}
</div>

<div id="bin">
  {{#object-bin name="Bin #1" model=binPosts}}
    {{partial "post"}}
  {{/object-bin}}
  <br><br>
  {{#object-bin name="Bin #2"}}
    {{partial "post"}}
  {{/object-bin}}
  <br><br>
  {{#object-bin name="Bin #3" model=binPosts}}
    {{partial "post"}}
  {{/object-bin}}
</div>