<div id="posts">
  {{#each post in this}}
    <div>
      {{#draggable-object content=post parent=this}}
        <span class="title">{{post.title}}</span>
      {{/draggable-object}}
      <br>
      <span class="author">By {{post.author}}</span>
    </div>
    <br>
  {{/each}}
</div>

<div id="bin">
  {{#draggable-object-target content=binPosts}}
    BIN #1<br>
    
  {{/draggable-object-target}}

  {{#each post in binPosts}}
    {{#draggable-object content=post parent=binPosts}}
      {{post.title}}
    {{/draggable-object}}
    <br>
  {{/each}}

  <br>

  {{#draggable-object-target content=binPosts2}}
    BIN #2<br>
    {{#each binPosts2}}
      {{title}}
      <br>
    {{/each}}
  {{/draggable-object-target}}

  
</div>