<div id="posts">
  {{object-bin name="All" model=this}}
</div>

<div id="bin">
  {{object-bin name="Bin #1" model=binPosts}}
  <br><br>
  {{object-bin name="Bin #2"}}
  <br><br>
  {{object-bin name="Bin #3" model=binPosts}}
</div>